@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Signika:wght@300..700&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(236, 217, 205, 1);
  color: rgba(24, 24, 24, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 48px;
  background: rgba(236, 217, 205, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(236, 217, 205, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 587px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 30px;
  background: rgba(42, 100, 116, 1);
}

.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Signika;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0%;
  text-decoration: none;
  color: rgba(234, 234, 234, 1);
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid rgba(236, 217, 205, 1);
}
.navigation__item-desk {
  font-family: Signika;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.71px;
  letter-spacing: 0%;
  text-align: center;
}
.navigation__link:hover,
.navigation__link:focus {
  border-radius: 12px;
  border: 1px solid rgba(236, 217, 205, 1);
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;
    height: 64px;
    padding: 10px 0px 10px 140px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
    padding: 10px 0px 10px 140px;
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 70px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Signika;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.71px;
    letter-spacing: 0%;
    color: rgba(24, 24, 24, 1);
    padding: 10px 20px;
    text-decoration: none;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    border: 1px solid rgba(42, 100, 116, 1);

    border-radius: 12px;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;

  padding: 82px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/1_home_mob.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Bubblegum Sans;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(58, 32, 35, 1);
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  padding: 14px 0 92px;
}

.home-text {
  font-family: Signika;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.71px;
  letter-spacing: 0%;
  text-align: center;

  padding: 0px 0 24px;
}
.home__google-button_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 811px;
    padding: 180px 172px 0px;
    background-image: url("/image/home/1_home.png");
  }
  .home-title-img {
    content: url("/image/home/name\ \(1\).png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .home-title {
    font-family: Bubblegum Sans;
    font-weight: 400;
    font-size: 50px;
    line-height: 58.15px;
    letter-spacing: 0%;
    margin-left: 214px;
    padding: 12px 0 37px;
  }

  .home-text {
    font-family: Signika;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    width: 664px;
    padding: 0px 0 37px;
  }
  .home__google-button_link {
    margin: auto;
  }
}
.about {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}
.about-div {
  padding-top: 24px;
}
.about-title {
  margin-left: -16px;
  font-family: Bubblegum Sans;
  font-weight: 400;
  font-size: 40px;
  line-height: 46.52px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(234, 234, 234, 1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  width: 375px;
  height: 58px;
  background-image: url("/image/title/title\ \(2\).png");
}
.about-title-two {
  background-image: url("/image/title/title.png");
  color: rgba(58, 32, 35, 1);
}
.about-text {
  display: flex;
  font-family: Signika;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.71px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(234, 234, 234, 1);
  gap: 1px;
}
.about-text-one {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding-top: 24px;
  padding-right: 12px;
  padding-bottom: 24px;
  padding-left: 12px;
  background: rgba(42, 100, 116, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0px 0px 14px 0px rgba(49, 49, 49, 0.5);
}
.about-text-two {
  background: rgba(51, 88, 66, 1);
}
.about-img {
  width: 343px;
  height: 343px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  margin-bottom: -8px;
}
.about-text-three {
  background: rgba(116, 92, 40, 1);
}
.about-text-four {
  background: rgba(153, 92, 119, 1);
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 56px 0px;
    width: 1440px;
  }

  .about-title {
    margin-left: -0px;
    font-family: Bubblegum Sans;
    font-weight: 400;
    font-size: 50px;
    line-height: 58.15px;
    letter-spacing: 0%;
    text-align: center;
    width: 1440px;
    height: 58px;
    background-image: url("/image/title/title\ \(3\).png");
  }
  .about-title-two {
    background-image: url("/image/title/title\ \(1\).png");
    color: rgba(58, 32, 35, 1);
  }
  .about-text {
    display: flex;
    flex-direction: column;
    font-family: Signika;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    gap: 8px;
  }
  .about-div {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
  .about-text-one {
    width: 327px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 0 16px;
    height: 160px;
  }
  .about-text-two {
    background: rgba(51, 88, 66, 1);
    height: 170px;
  }
  .about-text-three {
    background: rgba(116, 92, 40, 1);
    height: 165px;
  }
  .about-text-four {
    background: rgba(153, 92, 119, 1);
    height: 165px;
  }
  .about-img {
    width: 347px;
    height: 347px;
    border-radius: 16px;
    margin-bottom: 0px;
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
  background: rgba(42, 100, 116, 1);
}

.how-list {
  padding-top: 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.how-item {
  width: 335px;

  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 0px;
  background: rgba(247, 224, 209, 1);
}
.how-item-two {
  flex-direction: row-reverse;
}
.how-img {
  width: 130px;
  height: 170px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  margin: 6px 0;
}
.how-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.how-text {
  font-family: Signika;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.71px;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 12px;
  width: 205px;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    padding: 56px 0px;
  }

  .how-list {
    padding: 39px 94px 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 48px;
  }
  .how-item {
    width: 212px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .how-item-two {
    flex-direction: column;
  }
  .how-img {
    width: 212px;
    height: 297px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    margin: 0;
  }

  .how-text {
    font-family: Signika;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.71px;
    letter-spacing: 0%;
    text-align: center;
    padding: 8px 16px 16px;
    width: 212px;
    height: 144px;
    display: flex;
    align-items: center;
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
  background: rgba(42, 100, 116, 1);
}

.reviews-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.reviews-item {
  width: 340px;
  height: 190px;
  gap: 8px;
  border-radius: 16px;
  padding: 16px;
  background: rgba(160, 151, 187, 1);
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0px 0px 14px 0px rgba(0, 0, 0, 0.35);
}
.reviews-item-two {
  background: rgba(157, 193, 167, 1);
}
.reviews-item-three {
  background: rgba(183, 164, 180, 1);
}
.reviews-item-four {
  background: rgba(170, 170, 170, 1);
}
.reviews-item-five {
  background: rgba(185, 186, 142, 1);
}
.reviews-item-six {
  background: rgba(184, 159, 131, 1);
}
.reviews-item-top {
  display: flex;
  gap: 16px;
  align-items: center;
}
.reviews-img {
  width: 50px;
  height: 50px;
}
.reviews-text-bold {
  font-family: Signika;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0%;
}
.reviews-text {
  padding-top: 8px;
  font-family: Signika;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.71px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 56px 0px;
  }
  .reviews-list {
    padding: 40px 98px 0;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
  }

  .reviews-item {
    width: 610px;
    height: 152px;
    border-radius: 16px;
    padding: 16px;
  }
  .reviews-item-top {
    display: flex;
    gap: 12px;
    align-items: start;
  }
  .reviews-img {
    width: 120px;
    height: 120px;
  }
  .reviews-text-bold {
    font-family: Signika;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0%;
  }
  .reviews-text {
    padding-top: 0px;
    font-family: Signika;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.71px;
    letter-spacing: 0%;
    margin-left: 132px;
    margin-top: -80px;
  }
}

.faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faq-item {
  width: 300px;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
  width: 335px;
  height: 150px;
  border-radius: 16px;
  padding: 16px;
  width: 335;
  height: 150;
  gap: 10px;
  border-radius: 16px;
  border-width: 1px;
  padding: 16px;
  background: rgba(42, 98, 114, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Bubblegum Sans;
  font-weight: 400;
  font-size: 34px;
  line-height: 39.54px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(234, 234, 234, 1);
}

.faq-item div {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: inherit;
  transition: transform 0.7s;
  border-radius: 16px;
  border: 1px solid rgba(58, 32, 35, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0px 0px 14px 0px rgba(49, 49, 49, 0.7);
}
.faq-item-two {
  background: rgba(153, 92, 119, 1);
}
.faq-item-three {
  background: rgba(51, 88, 66, 1);
}
.faq-item-four {
  background: rgba(149, 117, 49, 1);
}
.faq-item-five {
  background: rgba(39, 67, 99, 1);
}
.faq-item-six {
  background: rgba(149, 90, 56, 1);
}
.faq-item-seven {
  background: rgba(89, 47, 103, 1);
}
.faq-front {
  z-index: 2;
}

.faq-back {
  transform: rotateY(180deg);
  font-family: Signika;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}

.faq-item.flipped .faq-front {
  transform: rotateY(180deg);
}

.faq-item.flipped .faq-back {
  transform: rotateY(0);
}

@media screen and (min-width: 1200px) {
  .faq {
    padding: 56px 0px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/image/5_faq.png");
    width: 1440px;
    height: 742px;
  }
  .faq-container {
    padding: 40px 182px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
  }

  .faq-item {
    width: 265px;
    height: 260px;
    padding: 16px 24px;
    width: 335;
    height: 150;
    background: rgba(42, 98, 114, 1);
  }

  .faq-item-two {
    background: rgba(153, 92, 119, 1);
    width: 265px;
  }
  .faq-item-three {
    background: rgba(51, 88, 66, 1);
    width: 265px;
  }
  .faq-item-four {
    background: rgba(149, 117, 49, 1);
    width: 260px;
  }
  .faq-item-five {
    background: rgba(39, 67, 99, 1);
    width: 260px;
  }
  .faq-item-six {
    background: rgba(149, 90, 56, 1);
    width: 260px;
  }
  .faq-item-seven {
    background: rgba(89, 47, 103, 1);
    width: 260px;
  }
  .faq-back {
    transform: rotateY(180deg);
    font-family: Signika;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0 24px;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 40px 0 40px 16px;
}

.gallery__list {
  width: auto;
  padding-top: 24px;
  padding-bottom: 8px;
  margin: auto;
}
.gallery__item {
  width: 280px;
  height: 580px;
  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-button-container {
  display: none;
}
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  content: none;
}

.slick-dots li {
  list-style: none;
  width: 13px;
  height: 13px;
  content: none;
}
.slick-dots li button:before {
  content: none;
}
.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/image//gallery/Ellipse\ 43.png") no-repeat center/cover;
  font-size: 0;
  content: none;
}

.slick-dots li.slick-active button {
  width: 26px;
  height: 26px;
  margin-top: -7px;
  margin-left: -5px;
  background: url("/image/gallery/Ellipse\ 30.png") no-repeat center/cover;
}

@media screen and (min-width: 1200px) {
  .gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 420px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
  }
  .gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .gallery-button:hover {
    scale: 120%;
  }
  .gallery {
    width: 1440px;
    padding: 56px 0;
  }

  .gallery__item {
    width: 280px;
    height: 580px;
    margin: 0 20px;
  }

  .gallery__list {
    width: auto;
    padding: 40px 0px;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
  background: rgba(42, 100, 116, 1);
}

.features-list {
  padding-top: 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.features-item {
  width: 335px;
  height: 240px;
  border-radius: 16px;
  padding: 16px;
  background: rgba(216, 204, 202, 1);
  border: 1px solid rgba(58, 32, 35, 1);
  box-shadow: 0px 0px 24px 0px rgba(58, 32, 35, 1) inset;
  padding: 46px 16px 0;
}
.features-item-two {
  background: rgba(139, 195, 192, 1);
}
.features-item-three {
  background: rgba(175, 207, 157, 1);
}
.features-item-four {
  background: rgba(206, 166, 138, 1);
}
.features-item-five {
  background: rgba(218, 209, 169, 1);
}
.features-text-bold {
  font-family: Bubblegum Sans;
  font-weight: 400;
  font-size: 34px;
  line-height: 39.54px;
  letter-spacing: 0%;
  text-align: center;
}
.features-item-one {
  display: flex;
  gap: 8px;
  padding-top: 8px;
  align-items: center;
}
.features-text {
  font-family: Signika;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 56px 0px;
  }

  .features-list {
    padding-top: 40px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
  }
  .features-item {
    width: 410px;
    height: 230px;

    padding: 39px 24px 0;
  }
  .features-item-two {
    background: rgb(122, 128, 127);
    width: 410px;
  }
  .features-item-three {
    background: rgba(175, 207, 157, 1);
    width: 400px;
  }
  .features-item-four {
    background: rgba(206, 166, 138, 1);
    width: 400px;
  }
  .features-item-five {
    background: rgba(218, 209, 169, 1);
    width: 400px;
  }

  .features-item-one {
    display: flex;
    gap: 8px;
    padding-top: 12px;
    align-items: center;
  }
}
.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/footer/8_footer_mob.png");
  width: 375px;
  height: 481px;
  margin: auto;
  padding: 89px 0 30px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 93px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 84px;
}
.footer-text {
  font-family: Signika;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: Auto;
  text-decoration-thickness: Auto;
  text-decoration-skip-ink: auto;
  color: rgba(24, 24, 24, 1);
}

.footer-copyright {
  font-family: Signika;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.71px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 108px 346px 30px 400px;
    background-image: url("/image/footer/8_footer.png");
    width: 1440px;
    height: 303px;
  }
  .footer-container {
    gap: 111px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 120px;
  }
  .footer-text {
    font-family: Signika;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: Auto;
    text-decoration-thickness: Auto;
    text-decoration-skip-ink: auto;
    text-align: center;
  }

  .footer-copyright {
    font-family: Signika;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}
.policy-terms-container {
  width: 375px;
  margin: auto;
  padding: 100px 16px 32px;
}
.policy-terms-title {
  font-family: Bubblegum Sans;
  font-weight: 400;
  font-size: 40px;
  line-height: 46.52px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(58, 32, 35, 1);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  width: 375px;
  height: 58px;
  margin-left: -16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/title/title.png");
}

.policy-terms-text {
  font-family: Bubblegum Sans;
  font-weight: 400;
  font-size: 34px;
  line-height: 39.54px;
  letter-spacing: 0%;
  color: rgba(42, 100, 116, 1);
  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Signika;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.71px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Signika;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.71px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Signika;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.71px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Signika;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.71px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    width: 1440px;
    padding: 100px 172px 40px;
  }
  .policy-terms-title {
    font-family: Bubblegum Sans;
    font-weight: 400;
    font-size: 50px;
    line-height: 58.15px;
    letter-spacing: 0%;
    text-align: center;
    width: 1440px;
    height: 58px;
    margin-left: -172px;
    background-image: url("/image/title/title\ \(1\).png");
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 16px;
  background: rgba(42, 100, 116, 1);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Signika;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.71px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(240, 245, 254, 1);
}
.cookie-button-container {
  padding: 26px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.cookie-button {
  border: none;
  border-bottom: 2px solid rgba(195, 187, 121, 1);
  width: 149px;
  height: 40px;
  border-bottom-width: 2px;
  padding: 10px;
  background-color: transparent;
  color: rgba(240, 245, 254, 1);
}
#accept-cookies {
  background: rgba(195, 187, 121, 1);
  padding: 10px;
  border-radius: 12px;
  color: rgba(17, 24, 38, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Signika;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
  }
  .cookie-button-container {
    margin: auto;
    gap: 80px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 40px 170px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
